.layout-main {
  --main-layout-inset: 5vmin;

  position: relative;
  width: calc(100% - var(--main-layout-inset));
  height: calc(100% - var(--main-layout-inset));

  background-color: #ffffff12;
  border: 0.12rem solid #fff4;
  box-shadow: 0 0 0.35rem 0 #fff8;
  border-radius: calc(var(--main-layout-inset) / 4);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content;
}

.layout-background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  > svg {
    opacity: 0.25;
    width: 62.5vmin;
    height: 62.5vmin;
    filter: blur(0.15rem);
  }
}

.layout-content {
  border-bottom: 1px solid white;
}
