.user-details {
  display: flex;
  align-items: center;

  &:hover > .popup {
    opacity: 1;
    left: 100%;
    transform: scale(1) translate(-100%, 0%);
  }

  &:active > .popup {
    transition-delay: 0s;
  }

  > p {
    margin: 0;
    cursor: pointer;
  }
}

.popup {
  position: absolute;
  bottom: calc(100% + 0.5rem);
  left: 0%;
  min-width: 100%;
  min-height: 100%;
  user-select: none;

  opacity: 0;
  transform: scale(0) translate(0%, 100%);

  transition-delay: 0.5s;
  transition-duration: 0.25s;

  border-radius: 0.5rem;
  border: 0.12rem solid white;
  backdrop-filter: blur(0.25rem);
  background-color: #0008;

  > P {
    margin: 0;
    padding: 0.25rem;
    cursor: pointer;
    text-wrap-mode: nowrap;

    display: flex;
    align-items: center;

    > span {
        margin-right: 0.25rem;
    }
  }
}
